* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wholepage {
  width: 93%;
}

nav {
  padding-left: 12px;
  padding-bottom: 7px;
  padding-top: 3px;
}

nav a {
  font-size: 14px;
  color: grey;
  padding-left: 21px;
  text-decoration: none;
  text-align: center;
}

nav span {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.background {
  overflow: hidden;
  height: 330px;
  margin-left: 0px;
  position: relative;
}

.background img {
  width: 100%;
  font-weight: bold;
  font-size: 32px;
}

.background span {
  position: absolute;
  top: 40%;
  left: 35%;
  text-align: center;
  color: white;
  font-size: 40px;
}

span > p {
  margin: 0px;
  padding: 0px;
}

.tiers-body {
  width: 100%;
  text-align: center;
  padding: 20px 0px 80px;
}

.tier {
  vertical-align: top;
  display: inline-block;
  padding-top: 20px;
  padding-left: 10px;
  width: 100%;
}

#tier-personal {
  width: 20%;
  padding-top: 20px;
}

#tier-smallbiz {
  width: 20%;
  padding-top: 20px;
}

#tier-enterprise {
  width: 20%;
  padding-top: 20px;
}

.div-box {
  width: 100%;
  height: 180px;
  color: white;
  text-align: center;
}

#green {
  background: #289952;
}

#blue {
  background: #2C4387;
}

#black {
  background: black;
}

.tiers-text {
  padding-top: 22px;
  text-align: center;
  width: 100%;
}
.tier-level {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: white;
  overflow: auto;
}

.tier-rate {
  font-size: 80px;
  font-weight: lighter;
}

.tier-freq {
  color: lightgrey;
}

.tiers-text > p {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

li {
  color: #40535B;
  font-size: 12px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  padding: 10px;
}

.choose-container {
  background-color: white;
  border-bottom: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  padding: 20px 60px;
  width: 100%;
}

.choose {
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #E7E7E7;
  padding: 10px 20px;
}

.choose a {
  text-decoration: none;
  color: black;
}

.details {
  -moz-columns: 2 200px;
  -webkit-columns: 2 200px;
  columns: 2 200px;
  column-gap: 40px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 13px;
  color: rgb(68, 85, 93);
}

.details-headlines {
  color: black;
  font-size: 16px;
  word-spacing: 3px;
  letter-spacing: 0.2em;
}

.details > p {
  margin-top: 15px;
  margin-bottom: 40px;
}

footer {
  background-color: black;
  color: grey;
  font-size: 13px;
  padding: 20px 30% 20px;
  width: 100%;
}

footer > a {
  color: white;
  text-decoration: underline;
}
