* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wholepage {
  width: 93%;
  border: 4px solid purple;
}

nav {
  color: grey;
  padding: 6px;
  border: 1px solid green;
}

nav a{
  font-size: 12px;
  padding-left: 40px;
  border: 1px solid blue;
}

nav span {
  color: black;
  font-size: 12px;
  border: 1px solid blue;
}

.background {
  overflow: hidden;
  height: 330px;
  margin-left: 0px;
  margin-bottom: 10px;
  border: 5px solid red;
}

/*.background-image img {
  //max-height: auto;
  max-width: auto;
  border: 2px solid red;
} */

.background span {
  font-weight: bold;
  font-size: 20px;
  border: 2px solid grey;
}

.div-box {
  width: 100%;
  height: 150px;
  color: white;
  text-align: center;
}

#green {
  background: green;
}

#blue {
  background: blue;
}

#black {
  background: black;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.tiers-body {
  width: 100%;
  text-align: center;
  border: 1px solid red;
}

li {
  background-color: lightgrey;
  border-bottom: 1px solid grey;
}

.details {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  border: 1px solid red;
}

footer {
  background-color: black;
  color: grey;
  padding: 20px 22% 20px;
}

footer > a {
  text-decoration: underline;
  color: white;
}

.tier {
  vertical-align: top;
  display: inline-block;
}
